{% extends 'main/layout.html' %}

{% block title %}Создание команды{% endblock %}

{% block content %}
<div class="page_team_list">
    <h1>Создай свою команду!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.intro }}<br>
        {{ form.text }}<br>
        {{ form.deadline }}<br>
        {{ form.tags }}<br>

<!--        <input type="text" placeholder="Заголовок для команды" class="form-control"><br>-->
<!--        <input type="text" placeholder="Краткое описание команды" class="form-control"><br>-->
<!--        <textarea class="form-control" placeholder="Подробное описание команды"></textarea><br>-->
<!--        <input type="datetime-local" class="form-control"><br>-->
<!--        <input type="text" placeholder="Теги для быстрого поиска" class="form-control"><br>-->
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-success">Создать команду</button>
    </form>
</div>
{% endblock %}