{% extends 'main/layout.html' %}

{% block title %}Создание команды{% endblock %}

{% block content %}
<div class="page_team_list">
    <h1>Создай свою команду!</h1>
    <form method="post">
        {% csrf_token %}
        {{ user.id }}
        {{ form.title }}<br>
        {{ form.intro }}<br>
        {{ form.text }}<br>
        {{ form.deadline }}<br>
        {{ form.tags }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-success">Создать команду</button>
    </form>
</div>
{% endblock %}