{% extends 'main/layout.html' %}

{% block title %}Ответ на заявку{% endblock %}

{% block content %}

<div class="page_team_list">
    <h1>Ответ на заявку</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name='contacts' placeholder="Ссылка на Telegram или Discord"><br>
        <textarea class="form-control" name='text' placeholder="Сообщение для заявителя." cols="40" rows="3"></textarea><br>
        {{ error }}<br>
        <button type="submit" class="btn btn-success">Принять</button><br><br>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'users:join_delete' pk %}'">Отклонить</button><br><br>
    </form>
</div>

{% endblock %}
