{% extends 'main/layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <h3 class="mb-0 mt-0">{{ user.username }}</h3>
        <h4 class="mb-0 mt-0">{{ user.email }}</h4><br><br>

        <h4>Ответы на заявки:</h4>
        {% if answers %}
            {% for el in answers %}
<!--        TODO Сделать отдельную страницу для отображения ответов-->
                <p>______________________</p>
                <p>{{ el.contacts }}</p>
                <p>{{ el.text }}</p>
                <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'users:answer_delete' el.id %}'">Удалить ответ</button>
                <p>--------------------------</p>
            {% endfor %}
        {% else %}
            <p>Ответов на заявки нет.</p>
        {% endif %}

        <h4>Мои заявки на вступление в команду:</h4>
        {% if my_letters %}
            {% for el in my_letters %}
                <p>{{ el.title }}  -->  {{ el.text }}</p>
            {% endfor %}
        {% else %}
            <p>Заявок на вступление нет.</p>
        {% endif %}

        <h4>Предложения присоединиться к моим командам:</h4>
        {% if my_teams %}
            {% for team in my_teams %}
                {% for massage in massages %}
                    {% if team.id == massage.team_boss_id %}
                        <div>
                            <p>{{ massage.text }}</p>
                            <button type="button" class="btn btn-warning" onclick="location.href='{% url 'users:answer' massage.id %}'">Подробнее</button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>Предложений нет.</p>
        {% endif %}
        <br>
        <button class="btn btn-sm btn-secondary w-100" onclick="location.href='{% url 'users:password_change' %}'">Change password</button><br>
        <button class="btn btn-sm btn-danger w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/users/profile'">Logout</button>
    </div>
</div>
<br><br><br><br><br><br>

{% endblock %}
