{% extends 'main/layout.html' %}

{% block title %}Вход в профиль{% endblock %}

{% block content %}

<div class="page_team_list">
    <h1>Вход в профиль</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name='username' placeholder="Username"><br>
        <input type="password" class="form-control" name='password' placeholder="Password"><br><br>
        {{ form.non_field_errors }}
        <button type="submit" class="btn btn-success">Войти</button><br><br>
        <a href="{% url 'users:password_reset' %}">Забыли пароль?</a> или <a href="{% url 'users:register' %}">Регистрация</a>
    </form>
</div>

{% endblock %}
