{% extends 'main/layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<!--<div class="col-md-12">-->
<!--        <div class="login_page">-->
<!--            <div class="form">-->
<!--                <form class="login_form" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="text" name='username' placeholder="Username"><br>-->
<!--                    <input type="password" name='password' placeholder="password"><br>-->
<!--                    <button type="submit">login</button><br>-->
<!--                    <p class="message"><a href="#">Forget password?</a> or <a href="#">Sing up</a></p>-->
<!--                    {{ form.errors }}-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->
<div class="wrapper">
        <div class="text-center mt-4 name">
            Twitter
        </div>
        <form class="p-3 mt-3" method="post">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            {{ form.errors }}
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="{% url 'users:password_reset' %}">Forget password?</a> or <a href="{% url 'users:register' %}">Sign up</a>
        </div>
    </div>

{% endblock %}
