{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="page_team_list">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="Username">
		<small class="text-muted"><p>Введенное имя должно быть уникальным и будет использоваться в качестве логина.</p></small>
		<input type="email" class="form-control" name="email" placeholder="Email">
		<small class="text-muted"><p>Вам потребуется подтвердить Ваш email.</p></small>
		<input type="password" class="form-control" name="password1" placeholder="Password"><br>
		<input type="password" class="form-control ml-3" name="password2" placeholder="Confirm password">
		<small class="text-muted"><p>Используйте 8 и более букв, цифр и символов.</p></small>
        {{ form.errors }}
        <button type="submit" class="btn btn-success">Зарегистрироваться</button><br><br>
        <a href="{% url 'login' %}">Есть аккаунт?</a>
    </form>
</div>
{% endblock %}
