{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
	<div class="card mx-5 my-5">
		<div class="card-body px-2">
			<h2 class="card-heading px-3">Sign Up</h2>
			<h5 class="card-subheading px-3 pb-3">It's quick and easy.</h5>
			<form method="post">
				{% csrf_token %}
			<div class="row rone">
				<div class="form-group col-md-5 fone">
					<input type="text" class="form-control" name="username" placeholder="First name">
				</div>
			</div>
			<div class="row rtwo">
				<div class="form-group col-md-12 fthree">
					<input type="email" class="form-control" name="email" placeholder="Email">
					<small class="text-muted"><p class="para1 pt-2 pl-1">You'll need to confirm that email or phone belongs to you.</p></small>
				</div>
			</div>
			<div class="row rthree">
				<div class="form-group col-md-5 ffour">
					<input type="password" class="form-control" name="password1" placeholder="Password">
				</div>
				<div class="form-group col-md-5 ffive">
					<input type="password" class="form-control ml-3" name="password2" placeholder="Confirm password">
				</div>
				<small class="text-muted px-3"><p class="para2 pl-3">Use 8 or more characters with a mix of letters,numbers &<br>symbols</p></small>
			</div>
				{{ form.errors }}
				<div class="col-md-4 ml-3">
					<button type="submit" class="btn btn-primary mt-3"><a href="{% url 'login' %}">Есть аккаунт? -Залогинься!</a></button>
				</div>
			<div class="row rfour">
				<div class="col-md-4 ml-3">
					<button type="submit" class="btn btn-primary mt-3"><span>Sing up</span></button>
				</div>
			</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}
