/* Цвет фона */
body {
    background: #aaa;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg,#aaa, #333 20%);
    color: white;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    gap: 1400px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
    color: white;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70px;
    background-color: #333;
}
/* TODO для лого и кнопки входа настроить абсолютную позицию на экране */
.logo {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    margin-right: 110px;
    font-weight: 800;
    font-size: 43px;
    line-heading: 45px;
    font-family: Ubuntu, serif;
    text-decoration: none;
    color: white;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation_title {
    display: block;
    margin-top: 10px;
    min-width: 110px;
    font-weight: 800;
    font-family: Ubuntu, serif;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
}

.navigation_title:hover {
    color: #eb5959;
    text-decoration: none;
    transition: transform .5s;
    transform: scale(1.03);
    background-color: #ddd;
}

.navigation_button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 130px;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
}

.navigation_button a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.navigation_button:hover {
    color: #fff;
    transition: transform .5s;
    transform: scale(1.05);
    background-color: #4CAF50;
}

.page_footer {
    color: red;
    position: absolute;
    bottom: 0;
}

.page_main {
    display: block;
    color: #000;
    margin-top: 200px;
}

.page_main h1 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 65px;
    line-height: 68px;
    padding-bottom: 50px;
    text-align: center;
}

.page_main p {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: centre;
    padding-bottom: 50px;
    text-align: center;
}

.main_button {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main_button_find, .main_button_create {
    display: inline-block;
    margin: 60px;
    width: 400px;
    height: 120px;
    border: none;
    border-radius: 10px;
}

.main_button_find {background-color: #E9003A}
.main_button_create {background-color: #FF9C00}

.main_button_find a, .main_button_create a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 34px;
    line-height: 38px;
}

.main_button_find:hover, .main_button_create:hover {
    color: #fff;
    transition: transform .5s;
    transform: scale(1.05);
    background-color: #4CAF50;
}

.page_team_list {
    float: center;
    color: #000;
    margin-top: 50px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.page_team_list h1 {
    font-size: 50px;
    margin-bottom: 50px;
 }

.page_team_list p {max-width: 400px; margin: 20px auto}

.page_team_list .alert-warning {
    float: center;
    clear: both;
    width: 450px;
    margin: 20px auto;
    text-align: left;
}

.team_button_create {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 80px;
    background-color: #FF9C00;
    border: none;
    border-radius: 100px;
}

.team_button_create a {
    text-align: center;
    font-weight: 800;
    color: #000;
    font-size: 24px;
    line-height: 38px;
    text-decoration: none;
}

.team_button_create:hover {
    color: #fff;
    transition: transform .5s;
    transform: scale(1.05);
    background-color: #4CAF50;
}

form {
    margin: auto;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*-------------параметры для всплывающего окна---------------*/

.join_in_team {
    margin: auto;
    width: 340px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: #ff5252;
	color: #fff;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

@media screen and (max-width: 768px) {

	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}
/*----------------------------------------------*/

