{% extends 'main/layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <h3 class="mb-0 mt-0">{{ user.username }}</h3>
        <h4 class="mb-0 mt-0">{{ user.email }}</h4><br>
        <button class="btn btn-sm btn-secondary w-100" onclick="location.href='{% url 'users:password_change' %}'">Change password</button><br>
        <button class="btn btn-sm btn-danger w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/users/profile'">Logout</button>
    </div>
</div>

{% endblock %}
